* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    background-image: url('/pictures/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}

h1 {
    font-size: 60px;
    font-family: 'Niconne', cursive;
    color: #025346;
    text-shadow: 2px 2px 0px #49d186,
        4px 4px 0px #d63312,
        6px 6px 0px #00c2cb,
        8px 8px 0px #ff7f50,
        10px 10px 0px #1bcfcf;
    letter-spacing: 5px;
}

.bubbles img {
    width: 40px;
    animation: bubble 7s linear infinite;

}

.bubbles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
}

@keyframes bubble {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    40% {

        opacity: 1;
    }

    70% {

        opacity: 1;
    }

    100% {
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1) {
    animation-duration: 2s;
}

.bubbles img:nth-child(2) {
    animation-duration: 2.2s;
}

.bubbles img:nth-child(3) {
    animation-duration: 1.8s;
}

.bubbles img:nth-child(4) {
    animation-duration: 3s;
}

.bubbles img:nth-child(5) {
    animation-duration: 1.9s;
}

.bubbles img:nth-child(6) {
    animation-duration: 1.2s;
}

.bubbles img:nth-child(7) {
    animation-duration: 4s;
}

table {
    margin: 0 auto;
    margin-top: 30px;
    border-style: groove;
    height: auto;
    width: auto;
    border-collapse: collapse;
    font-size: 100%;
    font-family: san-serif;
    font-weight: bold;
    display: inline-block;
}

table td {
    border: 1px solid rgb(87, 0, 61);
    width: 30px;
    height: 30px;
    text-align: center;
    transition: 0.3s;
    padding: 2px;
    background-color: #ffffff;

}

table td:hover {
    cursor: pointer;
    background-color: rgb(192, 137, 137);
}

.color {
    background-color: rgb(151, 149, 149);

}

.hidden {
    display: none;
}


button {
    margin-bottom: 5px;
    /* display: inline-block; */
    /* outline: 0; */
    border: 0;
    cursor: pointer;
    background: radial-gradient(100% 100% at 100% 0%, #8edb6a 0%, #1d91a5 100%);
    padding: 0 32px;
    border-radius: 6px;
    color: #000000;
    height: 30px;
    font-size: 1em;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
}


.text {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 30px;
    font-family: 'Niconne', cursive;
    color: #e7e7e7;
}

img {
    width: 40px;
    height: 40px;

}

.hint {
    background-color: #42c76f;
}

.safeClick {
    background-color: #8edb6a;
}